Standardize a dedicated SMTP-over-TLS port

STARTTLS is subject to attacks during opportunistic negotiation in-protocol, and MTA-STS just pushes the same concerns into the DNS and HTTPS stages.  .well-known addresses only work because we standardized on port 443 for HTTPS.  We should standardize a port with the numbering authorities for TLS-only SMTP connections so that e-mail can benefit from the same advantages that HTTPS currently enjoys.

There is port 465, but there is some fragmentation around it, in that it's sometimes for authenticated mail submission only.

The main concern with TLS enforcement is how the receiving domain can signal that the domain prefers the sending MTA to do strict TLS enforcement (and how to do the enforcement appropriately since the MX record itself might be spoofed in the absence of DNSSEC).

But having a dedicated port doesn't solve that signalling problem -- an adversary can simply block the port the same way that they can strip the STARTTLS SMTP verb.  If you have a dedicated port, and need signalling to expect it, then you are back in the same problem space that you had before ("pushing the same concerns into the DNS and HTTPS stages").

Anyway, yes, we could use port 465 for this (the IETF has begrudgingly accepted it for SMTP-over-TLS despite some vestigial systems that think it's supposed to be `urd`: "URL Rendesvous Directory for SSM"), but i don't think it solves the underlying problem.

Blocking a port, which prevents functionality, is a far more observable act than stripping the STARTTLS verb, which users will only notice if the client software chooses to notify them.  

In addition, failing to standardize an SMTP-over-TLS port also does nothing to solve this signalling problem.  Securing DNS should be outside the scope of securing SMTP; they are different protocols.  Once there's a standardized SMTP-over-TLS port, a site administrator may choose from whichever signalling methods are available, whether that's MX records secured by DNSSEC or MTA-STS-style HTTP indirection.  

The point is that SMTP is a fully-fledged protocol and right now there's no standardized way to offer a pure TLS connection.  If there were a published and supported standard to rally behind, signalling becomes less of a problem, because we would have sane defaults; this is why you don't have to manually instruct your web browser to connect to port 443 for TLS encryption.

Currently the only big standardization pushes are STARTTLS and MTA-STS, both of which rely on external protocols to get any real work done.  Both have problems that are easily solved if there were to be a standard SMTP-over-TLS port.

@khm wrote:
> Blocking a port, which prevents functionality, is a far more observable act than stripping the STARTTLS verb

Surely the sending MTA can observe a missing STARTTLS capability just as well as it can observe a closed port.  What do you mean by "more observable?"

> which users will only notice if the client software chooses to notify them.

Which client software are you talking about?  I think we're talking here about MTA-to-MTA message transfer, so the "client software" is the sending MTA, right?  The user will only notice a missing STARTTLS capability *or* a closed port if the sending MTA chooses to notify them.  These don't seem to differ.

ok, so [RFC 8314§3.3](https://tools.ietf.org/html/rfc8314#section-3.3) and [the IANA port registry](https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.txt) identifies port 465 as being explicitly for `submissions`, meaning that it's only really appropriate for MUA-to-MTA connections, not MTA-to-MTA connections (as @ryancdotorg mentioned above).  i think MTA-to-MTA connections is what you're asking for, so port 465 is not a good match for your intended purpose.

But let's think about deployment here:

If an MTA tries to deliver mail to a domain, and it knows about this new port, and that port appears to be closed, what should that MTA do?  in the standard case (at least initially), it will go back to trying port 25, and try to negotiate STARTTLS there.  right?  What matters is the signalling -- that a delivering MTA should expect TLS somehow.  But if we have signalling, why shouldn't the signalling just indicate STARTTLS, which is already deployed and working?

How does port assignment solve this problem?  If it doesn't solve this problem, what problem does it solve?

Worse: if we standardize such a port, then there are now two different forms of TLS available for SMTP -- SMTP-on-25+STARTTLS, and SMTPS-on-whatever-port.  That means that each signalling mechanism needs to be able to describe which of those mechanisms are supported for a given domain.  So it adds to the complexity of the solution.

I'm not saying that STARTTLS is great!  but it's widely available today, and it presents roughly the same issues in principle.  I'm not convinced that defining a port for SMTPS will solve any serious problems, and i fear that it may create new ones.

the main advantage i see for a designated port is in a future network where all MTAs use it, then it's a slightly simpler connection setup: no initial cleartext exchange between the client and server to negotiate STARTTLS means a reduction in latency and complexity.  That's a nice engineering/efficiency win, but it doesn't seem to have security implications.